
body{
  font-family: "Montserrat";
  /* text-align: center; */

}

.experience{
  /* display: inline-block;
  text-align: center;
  margin-right: 0;
  width: 30%; */
  padding: 1rem;
}

.experienceSection{
  display: flex;
  gap: 10px;
  text-align: center;
}

.jsexamples{
   text-align: center;
   color: #f67680;
}

.btnsopra{
  background-color: #f67680 ;
}


#title{
  background-color:#68C6B7;
  color: white;

}


.container-fluid{
  /* padding: 3%  7% 0%; */
  padding: 3%  13% 7%;
  /* (the one she put) */
}

h1{
      font-family: "Montserrat";
      font-weight: 900;
      font-size: 2.5rem;
      line-height: 1.5;
    }



h2{
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 3rem;
      line-height: 1.5;
    }

/* navigation bar */

.navbar{
  padding: 0 0 2.5rem;


  /* overflow: hidden; */
  /* background-color: #333; */
  /* position: fixed; */
  /* top: 0; */
  /* width: 100%; */


}

.navbar-brand{
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 2.5rem;
  color: #ff616d;

}

.nav-item{
  padding: 0 10px;
}

.nav-link{
  font-family: "Montserrat";
  font-weight: 400;
  font-size:  1.5rem;
}

.download-button{
  margin: 3% 3% 1% 0;
}

.h1-title {
  padding: 0 7% 0 0;
  color: white;
}
.title-image{

  margin-top: 1%;
  /* width: 70%; */
  position: absolute;
  right: 2%;

}

/* Feature Section */

#features{
  padding:3% 10% 1% 10%;
  position: relative;
  z-index: 1;
  background-color: white;


}

.features-image {
  width: 20%;
  min-width: 30px;
  /*border-radius: 100%;*/
  /* margin-bottom: 10px; */
}

.features-title{
  text-align: center;
  color: #ff616d;
  padding-bottom: 1.5rem;
}

.feature-section{
  text-align: center;
  padding: 5%;
}
h3{
  margin-top: 20px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.2rem;
}

p{
  color: #919090;
  font-size: 1rem;
}

.webdesign{
  color:white;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 1rem;

}
.motion-webdesign{
  color: white;

}

.imagebrand{
  padding-right: 0.5rem;
}



.icon{
  color: #ff616d;
}

.icon:hover{
  color:  #a1b725;
}


/* Testimonial section */

#testimonials{
  background-color: #ff616d;
  color: #fff;
  text-align: center;
}

.carousel-item{
  padding: 7% 15%;
}

.testimonial-text {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.5;
}
.testimonial-text {
  font-size: 2rem;
  line-height: 1.5;
}

.testimonial-subtext {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
}


.testimonial-image {
  width: 70%;
  /*border-radius: 100%;*/
  margin-top: 50px;
}

#book{
  padding: 7% 15% 5% 15%;
  background-color:#68C6B7;
  color: white;
  text-align: center;
}

#posters{
  padding:7% 10% 7% 10%;
  background-color:white;
  text-align: center;
  /* line-height: 1.5; */
}
.motion-poster {
  color: #ff616d;
}
.posterp{
  color: rgb(39, 38, 38);
  font-size: 1rem;
  font-weight: normal;
  padding-top: 1rem;
}

#motion{
  /* padding:5% 20% 5% 20%; */
  /* padding:5% 15% 1% 15%; */
  padding: 7% 15% 2% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
  line-height: 1.5;
  color: #ff616d;
  
}

.motion-image {
  width: 70%;
  margin-top: 50px;
}

#posters img.motion-image{
  border:solid rgb(166, 165, 165) 1px ;
}

.motion-section{
  text-align: center;
}

.motion-text {
  /* font-family: "Montserrat";
  font-weight: 700;
  font-size: 2rem; */
  line-height: 1.2;
  text-align: center;
  color: #68C6B7;

  /* color: #ff616d;; */

}



.motion-subtext {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3;
  text-align: center;
  color: #68C6B7;

}

.motion-subtextbook {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3;
  text-align: center;
  color: white;

}

.motion-subtextposter {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3;
  text-align: center;
  color: #ff616d;

}


#press {
  background-color: white;
  /*padding-bottom: 2%;*/
  text-align: center;
  padding: 10% 20% 10% 20%;

}

.press-image {
  width: 30%;
  margin: 1% 1% 1% 1%;
}

/* Pricing  */

#pricing {
  padding: 10% 20% 10% 20%;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
  width: 30%;
}

.pricing-title{
  color:#ff616d;
  font-size: 2rem;
}
.pricing-subtitle{
  font-size: 1.3rem;
}

/* Call to action */

#cta {
  padding: 7% 15%;
  text-align: center;
  background-color: #68C6B7;
  color: white ;
}

.cta-title{
      font-family: "Montserrat";
      font-weight: 900;
      font-size: 2.5rem;
      line-height: 1.5;
    }

    /* Footer section */
    #footer{
      background-color: #fff;
      text-align: center;
      padding: 7% 15%;
    }
    .social-icon{
      margin: 20px 10px;
      font-size: 2rem;
    }
    .footer-text{
      margin-bottom: 3%;
      font-size: 1.5rem;
    }



@media (max-width: 1028px){

  #title { text-align: center;}

  .title-image{
    /* position: null; */
    display: none;
  }

  .container-fluid{
    padding: 3%  13% 0%;

}

.features-image {
  width: 10%;
  /*border-radius: 100%;*/
  /* margin-bottom: 10px; */
} 

.experience h3{
  /* margin-top: 20px;
  font-family: "Montserrat";
  font-weight: 700; */
  font-size: 0.8rem;
}

.experience p{
  /* color: #919090; */
  font-size: 1rem;
}

.features-image {
  width: 30%;
  min-width: 30px;
  /*border-radius: 100%;*/
  /* margin-bottom: 10px; */
}

}
